.header{
     height:64px;
     background: linear-gradient(90deg,#01ffaf,#6610f2);
     position:fixed;
     top:0;
     left:0;
     right:0;
     z-index:1000;
 }

.layout{
     margin-top:64px;
     min-height: calc(100vh - 64px);
 }

.base{
    flex:1;
 }

.crear_profesor {
    width: auto;
    margin: 0 auto;
    display: block;
}

@media (max-width: 576px) {
  .base { padding: 1rem; }
  .crear_profesor { width: 100%; }
}
